.planeItem {
  position: relative;
  cursor: pointer;
}
.itemWrraper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 350px;
  max-width: 350px;
  min-height: 400px;
  position: relative;
  cursor: pointer;
}

.image {
left: 23px;
top: 10px;
margin: 0 auto;
  width: 335px;
  height: 260px;
  object-fit: cover;
  transform: scale(1.04);
}

.capacity {
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 24px;
  background: linear-gradient(200.44deg, #4316db 13.57%, #9076e7 98.38%);
  color: #ffffff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  z-index: 2;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 120px;
  padding: 5px 10px;
  color: white;
  background: rgba(50, 61, 109, 0.5);
}

.title {
  font-size: 20px;
}

.price {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
